BODY {

	color: #000000;
    background-image: url("https://cbreen872.github.io/Golf%20Info/img/background.jpg");
}

header {
    padding: 1em;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
}

.nav {background:#eee;}

.nav ul {
    list-style-type: none;
 padding: 0;
}
   
.nav ul a {
 text-decoration: none;
}
.article {
    text-align: left;
}
A {
	text-decoration: underline;
	color: #006300;
}

A:Hover {
	text-decoration: none;
	color: #31CE31;
}

.style2 {
	color: #006300;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma;
}



